<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 

 <!-- myBatis를 통해 DB를 다룰때 사용할 파일이다. 실행하고자 할 쿼리 모음 -->

 

<mapper namespace="StudentInfor">
    <select id="retrieveStudentList" resultType="StudentItem">
        SELECT st_name stName, st_school stSchool, st_phone stPhone
        FROM st
    </select>
    
    <select id="PartialRetrieveStudentList" parameterType="string" resultType="StudentItem">
        SELECT st_name as stName, st_school as stSchool, st_phone as stPhone
        FROM st
    	WHERE st_name LIKE CONCAT('%', #{stName}, '%') 
    </select>
    
    <select id="retrieveStudent" parameterType="StudentItem" resultType="StudentItem">
        SELECT st_name stName, st_school stSchool, st_phone stPhone, st_parents stParents,
        st_date stDate, st_gender stGender, st_address stAddress, st_memo stMemo
        FROM st
        WHERE st_phone = #{stPhone}
    </select>
    
    <insert id="insertStudent" parameterType="StudentItem">
        INSERT INTO st(st_phone, st_name, st_school, st_parents, st_date, st_gender, st_address, st_memo)
        VALUES (#{stPhone}, #{stName}, #{stSchool}, #{stParents}, #{stDate}, #{stGender}, #{stAddress}, #{stMemo})
    </insert>
    
    <delete id="deleteStudent" parameterType="StudentItem">
         delete from st where st_phone=#{stPhone}
    </delete>
    
    <update id="updateStudent" parameterType="StudentItem">
    	UPDATE st SET st_name = #{stName},
    	st_school = #{stSchool},
    	st_parents = #{stParents},
    	st_date = #{stDate},
    	st_gender = #{stGender},
    	st_address = #{stAddress},
    	st_memo = #{stMemo},
    	st_phone=#{stPhone}
    	WHERE st_phone=#{stPrePhone}
    </update>
    
</mapper>